name: CI Build

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths-ignore:
      - '.github/**'
  pull_request:
    branches:
      - 'main'

permissions:
  contents: read

env:
  DOTNET_GENERATE_ASPNET_CERTIFICATE: false
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  COVERAGE_REPORT: ${{ github.workspace}}/coveragereport

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: read
      pull-requests: write
      checks: write
    steps:
    - name: 'Harden Runner'
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - name: 'Checkout'
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
        persist-credentials: false
 
    - name: 'Setup .NET SDK'
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
      with:
        dotnet-version: | 
          10.0.x

    - name: 'Restore external dependencies'
      run: dotnet restore

    - name: 'Build'
      id: build
      run: dotnet build --configuration Debug --no-restore

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: build-artifacts
        path: |
          src/**/idunno.*.nupkg
          src/**/idunno.*.dll
          src/**/idunno.*.deps.json
          src/**/idunno.*.xml
        retention-days: 5

    - name: 'Test'
      id: test
      run: dotnet test --no-build --restore --collect:"XPlat Code Coverage" --logger junit --settings .runsettings

    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@34d7c956a59aed1bfebf31df77b8de55db9bbaaf # v2.21.0
      if: always()
      with:
        files: "test/**/TestResults.xml"

    - name: Upload Test Artifacts
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: test-results
        path: "test/**/TestResults.xml"
        retention-days: 5
