name: Pre-release Build, Test, Sign, Publish
on:
  workflow_dispatch:
    inputs:
      perform_sign:
        description: 'Sign'
        type: boolean
        required: true
        default: true
      perform_publish:
        description: 'Publish Pre-release'
        type: boolean
        required: true
        default: true

env:
  DOTNET_NOLOGO: true
  DOTNET_GENERATE_ASPNET_CERTIFICATE: false
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  OUTPUT_DIRECTORY: ${{ github.workspace}}/nupkgs

permissions:
  contents: read

jobs:
  build:
    permissions:
      attestations: write
      contents: read
      id-token: write

    name: Build pre-release
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - name: 'Checkout repository'
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
        persist-credentials: false
 
    - name: 'Setup .NET SDK'
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
      with:
        dotnet-version: | 
          10.0.x

    - name: 'Build'
      run: dotnet build --configuration Release --property:PublicRelease=false

    - name: 'Test'
      run: dotnet test --configuration Release --no-restore --no-build --property:PublicRelease=false

    - name: 'Pack release'
      run: dotnet pack --configuration Release --no-restore  --no-build --output ${OUTPUT_DIRECTORY} --property:PublicRelease=false

    - name: 'Extract SBOMs'
      shell: pwsh
      run: > 
        Get-ChildItem -Path ${env:OUTPUT_DIRECTORY} -Filter *.nupkg -Force | ForEach-Object { 
          Expand-Archive $_.FullName "$($_.DirectoryName)/$($_.Basename)" -Force 
          Copy-Item "$($_.DirectoryName)/$($_.Basename)/_manifest/spdx_2.2/manifest.spdx.json" -Destination "${env:OUTPUT_DIRECTORY}/$($_.Basename).spdx.json"
          Copy-Item "$($_.DirectoryName)/$($_.Basename)/_manifest/spdx_2.2/manifest.spdx.json.sha256" -Destination "${env:OUTPUT_DIRECTORY}/$($_.Basename).spdx.json.sha256"
          Remove-Item "$($_.DirectoryName)/$($_.Basename)" -Force -Recurse }

    - name: Upload unsigned nupkgs to artifacts
      id: upload
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: build-artifacts
        path: ${{ env.OUTPUT_DIRECTORY }}/*
        retention-days: 7

    - name: Attest build artifacts
      uses: actions/attest-build-provenance@00014ed6ed5efc5b1ab7f7f34a39eb55d41aa4f8 # v3.1.0
      with:
        subject-name: build-artifacts
        subject-digest: sha256:${{ steps.upload.outputs.artifact-digest }}


  sign:
    name: Sign
    needs: build
    runs-on: windows-latest
    if:  ${{ inputs.perform_sign }} 
    environment: prerelease
    permissions:
      attestations: write
      contents: read
      id-token: write

    steps:
    - name: 'Setup .NET SDK'
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0

    - name: 'Install Sign CLI'
      run: dotnet tool install --tool-path ./sign --prerelease sign

    - name: 'Gather nupkgs from build output'
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: build-artifacts
        path : ${{ env.OUTPUT_DIRECTORY }}

    - name: Authenticate to Azure
      uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # 2.3.0
      with:
        allow-no-subscriptions : true
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Sign
      shell: pwsh
      run: >
        ./sign/sign code trusted-signing *.nupkg 
        --base-directory ${env:OUTPUT_DIRECTORY} 
        -tse "${{ secrets.AZURE_TRUSTEDSIGNING_ACCOUNTURI }}" 
        -tsa "${{ secrets.AZURE_TRUSTEDSIGNING_ACCOUNT }}" 
        -tscp "${{ secrets.AZURE_TRUSTEDSIGNING_CERTIFICATEPROFILE }}"

    - name: Upload signed nupkgs to artifacts
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      id: upload
      with:
        name: signed-artifacts
        path: ${{env.OUTPUT_DIRECTORY}}/*
        retention-days: 7

    - name: Attest signed artifacts
      uses: actions/attest-build-provenance@00014ed6ed5efc5b1ab7f7f34a39eb55d41aa4f8 # v3.1.0
      with:
        subject-name: signed-artifacts
        subject-digest: sha256:${{ steps.upload.outputs.artifact-digest }}

  publish:
    name: Publish
    needs: sign
    runs-on: ubuntu-latest
    if:  ${{ inputs.perform_publish }}
    environment: publish
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
    - name: 'Harden Runner'
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - name: 'Setup .NET SDK'
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0

    - name: 'Gather nupkgs from signing artifacts'
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: signed-artifacts
        path : ${{ env.OUTPUT_DIRECTORY }}

    - name: Setup MyGet and GitHub Packages as NuGet Sources
      shell: pwsh
      run: |
        dotnet new nugetconfig
        dotnet nuget remove source nuget
        dotnet nuget add source https://nuget.pkg.github.com/blowdart/index.json --name github
        dotnet nuget add source https://www.myget.org/F/blowdart/api/v3/index.json --name myget

    - name: Publish NuGet packages to GitHub packages
      shell: pwsh
      run: >
        foreach($file in (Get-ChildItem "${env:OUTPUT_DIRECTORY}" -Recurse -Filter *.nupkg)) {
          dotnet nuget push $file --api-key "${{ secrets.PUBLISH_PACKAGES_PAT }}" --source "github" --skip-duplicate
        }

    - name: Publish NuGet packages to myget
      shell: pwsh
      run: >
        foreach($file in (Get-ChildItem "${env:OUTPUT_DIRECTORY}" -Recurse -Filter *.nupkg)) {
          dotnet nuget push $file --api-key "${{ secrets.MYGET_APIKEY }}" --source "https://www.myget.org/F/blowdart/api/v2/package" --skip-duplicate
        }
